@media only screen and (max-width: 1199px) {
    .col-1{
        width: 10vw;
    }
    .col-2{
        width: 80vw;
    }
    .col-3{
        width: 10vw;
    }
}

@media only screen and (min-width: 1200px) {
    .col-1{
        width: 20vw;
    }
    .col-2{
        width: 60vw;
    }
    .col-3{
        width: 20vw;
    }
}


* {
    box-sizing: border-box;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

body {
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: light;
    background-color: #2a0066;
    ;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

article {
    border-radius: 7vw;
    /* max-width: 80vw; */
    background: #94d3f9;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    box-shadow: 0vw 0vw 1vw 0vw #6c2400f2;
    width: 81vw;
    margin-bottom: 2vw;
}

.project {
    width: 94%;;
    max-width: 72vw;
    /* max-height: 70vh; */
    /* padding: 1vw; */
    border: #4d29e475;
    border-width: thin;
    border-style: double;
    /* margin: 2.4vw; */
    margin-right: 1.25vw;
    margin-left: 1.25vw;
    border-radius: 2vw;
    background-color: rgb(149 226 255);
    box-shadow: 0.1vw 0.1vw 1vw 0.1vw #001953eb;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.details {
    height: 100%;
    max-height: 83vh;
    overflow-y: auto;
    background-color: #b2e7ff;
    /* padding: 3vw; */
    /* padding-bottom: 1vw; */
    /* border-radius: 0.75vw; */
    /* margin-left: 1vw; */
    /* margin-top: 2vh; */
    /* margin-bottom: 2vh; */
    box-shadow: 0vw 1vw 4vw 1vw #4e00ff38;
}

.video {}

.images {
    margin-top: 0.1vw;
    /* max-height: 30vh;
  overflow-y: auto; */
}

.text-description {}

.links {}

.icon {
    transition: height .4s, width .4s, transform .4s, margin-right 0.4s;
    height: 7vw;
    width: 7vw;
    margin-right: 1vw;
    filter: drop-shadow(1px 1px 1px black) invert(49%) sepia(93%) saturate(1748%) hue-rotate( 153deg) brightness(100%) contrast(101%);
}

.icon:hover {
    height: 7.5vw;
    width: 7.5vw;
    margin-right: 0.5vw;
    transform: translateX(-0.25vw) translateY(.25vw);
    transition: height .4s, width .4s, transform .4s, margin-right 0.4s;
}

#pin-icon:hover {
    /* filter: saturate(1.5); */
}

#pin-text {
    display: none;
    transform: translateY(-2vw);
}

#email-text {
    display: none;
    transform: translateY(-2vw);
}

#phone-text {
    display: none;
    transform: translateY(-2vw);
}

#share-text {
    display: none;
    transform: translateY(-2vw);
}

#file-text {
    display: inline-block;
    font-size: 1.5em;
    transform: translateY(-2vw);
    font-weight: 400;
    color: #01b9de;
    text-shadow: 0 0 6px #96e4f4f7;
}

#file-icon {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    filter: drop-shadow(1px 1px 1px black) invert(49%) sepia(93%) saturate(1748%) hue-rotate( 153deg) brightness(100%) contrast(101%);
}

#david {
    transition: animation 4s;
    width: 20vw;
    float: left;
    margin-right: 2vw;
    margin-top: .75vw;
    max-width: 20vh;
}

#david:hover {
    transition: animation 4s;
    animation: rotation 4s infinite linear;
}

.coding-icon {
    margin: 1vw;
    width: 3vw;
    height: 3vw;
    /* margin-right: 1vw; */
    /* margin-top: 2vw; */
    /* margin-left: 1vw; */
    filter: drop-shadow(1px 1px 1px black) invert(49%) sepia(93%) saturate(1748%) hue-rotate( 153deg) brightness(100%)
}

#igm-vis-demo {
    height: 16.4vw;
}

#trash-emoji {
    font-size: 3vw;
    margin-left: 1.25vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
}

.github-link {
    display: inline-block;
    transform: translateY(-2vw);
    font-size: 1.5em;
    color: #01b9dee6;
    font-weight: 400;
    text-shadow: 0px 0px 5px #00896c5e;
}

.col-1 {
    /* background: #ff9445; */
    background: url(static/svg/shapes-03.svg);
    /* Full height */
    /* height: 100%; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    /* background-size: cover; */
    /* width: 10vw; */
    background-position-y: 0.5vw;
    filter: drop-shadow(0px 4px 10px blue);
}

.col-2 {
    background: url(static/svg/shapes-03.svg);
    /* Full height */
    /* height: 100%; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    /* width: 94vw; */
    background-position-y: 0.5vw;
    filter: drop-shadow(0px 4px 10px blue);
}

.col-3 {
    background: url(static/svg/shapes-03.svg);
    /* Full height */
    /* height: 100%; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    /* background: #ff9445; */
    /* width: 10vw; */
    background-position-y: 0.5vw;
    filter: drop-shadow(0px 4px 10px blue);
}

.content {
    display: flex;
    flex-direction: row;
}

.content>article {
    /* flex: 4; */
    min-height: 90vh;
}

h1 {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-weight: lighter;
    font-size: .4vw;
    text-align: center;
    /* place-content: center; */
    color: #000e6f;
    text-decoration: underline;
    text-decoration-thickness: 0.4vw;
    text-shadow: 2px 0px 10px #b218004a;
}

h2 {
    transition: text-shadow 0.4s, color 0.4s, transform 0.4s;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 6.7vw;
    color: #ff00009c;
    text-shadow: 4px 0px 1px #00dcff;
    box-shadow: inset 0 0 7px 1px #0f0d00a3;
    border-radius: 8vw;
    margin-bottom: 1.5vw;
    background-color: #f1ff89cf;
}

h2:hover {
    transition: text-shadow 0.4s, color 0.1s, transform 0.4s;
    /* font-size: 9.4vw; */
    color: #ff000096;
    transform: translateX(4px);
    text-shadow: 0px 0px 1px #00ddff83;
    /* font-weight: 400; */
}

h3 {
    margin-top: 0;
    margin-bottom: 1vh;
    font-weight: 800;
    font-size: 6.4vw;
    text-align: center;
    /* color: #2d3f00de; */
    text-shadow: 0px 0px 25px #ffffff;
    /* text-decoration: underline; */
    text-decoration-thickness: 0.4vw;
    font-family: hero-new, sans-serif;

}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.9vw;
    text-align: center;
    /* place-content: center; */
    color: #110093;
    /* text-decoration: underline; */
    /* text-decoration-thickness: 0.4vw; */
    text-shadow: 2px 0px 6px #0032f891;
}

p {
    font-size: 1.4em;
    margin: 1.1vw;
    text-align: left;
    font-family: dapifer, serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: #aeffa6;
    height: 0vh;
    display: none;
}

header,
footer,
article,
nav {
    /* padding: 1em; */
}

header {
    font-family: hero-new, sans-serif;
    font-weight: 600;
    font-size: 2vw;
    background-color: #f8eb2b;
    padding: 2vw;
    box-shadow: 0.1vw 0.2vw 1vw 0.4vw #9c6e00;
    margin-bottom: 4.51vw;
    margin-top: 4vh;
    border-radius: 7vw;
    /* width: 80vw; */
    /* color: #965b69; */
    height: 27vw;
    align-self: center;
    box-shadow: inset 0 0 5px 2px #0000008a;
    text-align-last: center;
}

#header-line{
    color: black;
    font-size: 2vw;
    margin: 10px;
    margin-bottom: 1vw;
}

#about {
    background: #c1f890;
    box-shadow: 0.1vw 0.1vw 1vw 0.21vw #006628c9;
    border-radius: 7vw;
    /* padding: 3em; */
    /* margin: 1em; */
    margin-bottom: 4vw;
    /* width: 80vw; */
    padding-top: 2vw;
    /* width: 80vw; */
    align-self: center;
    box-shadow: inset 0px 0px 6px 0px #000000b5;
}

#about-me {
    background: #e1fdbf;
    /* box-shadow: 0vw 1vw 10px 4px #97c55a70; */
    /* border-radius: 1vw; */
    padding: 1em;
    /* margin: 1em; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 7vw;
    border-bottom-left-radius: 7vw;
    box-shadow: inset 0px -4px 8px 0px #000000b5;
    padding-bottom: 2vw;
}

.caption {
    bottom: 0.5vh;
    width: 100%;
    margin: 1vh;
    /* height: 6vw; */
    font-size: 1.5em;
    /* display: inline-block; */
    /* margin-left: 1vw; */
    display: inline;
}

img {
    width: 100%;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 80%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 102px;
}

#project-header {
    width: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background: #65cbff;
    padding-top: 2vw;
    box-shadow: inset 0px 10px 8px 8px #0865ab73;
}

#projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2vw;
    box-shadow: inset 0px -9px 11px 5px #004a9bb0;
    place-content: center;
    align-items: baseline;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: .75vw;
}

.mySlides {
    display: none
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


/* On screens that are 992px wide or less, go from four columns to two columns */

@media screen and (max-width: 1200px) {
    article {
        border-radius: 7vw;
        /* max-width: 80vw; */
        background: #94d3f9;
        color: #000;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        box-shadow: 0vw 0vw 1vw 0vw #6c2400f2;
        /* width: 65vw; */
        margin-bottom: 2vw;
    }
    .project {
        width: 94%;
        max-width: 72vw;
        /* max-height: 70vh; */
        /* padding: 1vw; */
        border: #4d29e475;
        border-width: thin;
        border-style: double;
        /* margin: 2.4vw; */
        margin-right: 1.25vw;
        margin-left: 1.25vw;
        border-radius: 2vw;
        background-color: rgb(149 226 255);
        box-shadow: 0.1vw 0.1vw 1vw 0.1vw #001953eb;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }
    
    h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 6.9vw;
        text-align: center;
        /* place-content: center; */
        color: #122e7a;
        /* text-decoration: underline; */
        /* text-decoration-thickness: 0.4vw; */
        text-shadow: 0px 0px 7px #7e9ce6c2;
    }
    .col-1 {
        /* background: #ff9445; */
        background: url(static/svg/shapes-03.svg);
        /* Full height */
        /* height: 100%; */
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        /* background-size: cover; */
        width: 10vw;
        background-position-y: 0.5vw;
        filter: drop-shadow(0px 4px 10px blue);
    }
    .col-2 {
        background: url(static/svg/shapes-03.svg);
        /* Full height */
        /* height: 100%; */
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
        width: 80vw;
        background-position-y: 0.5vw;
        filter: drop-shadow(0px 4px 10px blue);
    }
    .col-3 {
        background: url(static/svg/shapes-03.svg);
        /* Full height */
        /* height: 100%; */
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        /* background: #ff9445; */
        width: 10vw;
        background-position-y: 0.5vw;
        filter: drop-shadow(0px 4px 10px blue);
    }
    .details {
        height: 100%;
        max-height: fit-content;
        overflow-y: auto;
        background-color: #b2e7ff;
        /* padding: 3vw; */
        /* padding-bottom: 1vw; */
        /* border-radius: 0.75vw; */
        /* margin-left: 1vw; */
        /* margin-top: 2vh; */
        /* margin-bottom: 2vh; */
        box-shadow: 0vw 1vw 4vw 1vw #4e00ff38;
        /* border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2VW; */
    }
    #igm-vis-demo {
        height: 39vw;
    }
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    article {
        border-radius: 7vw;
        /* max-width: 80vw; */
        background: #7bcdff;
        color: #000;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        box-shadow: 0vw 0vw 1vw 0vw #6c2400f2;
        width: 94vw;
        margin-bottom: 2vw;
    }
    .project {
        width: 94%;
        max-width: 72vw;
        /* max-height: 70vh; */
        /* padding: 1vw; */
        border: #4d29e475;
        border-width: thin;
        border-style: double;
        /* margin: 2.4vw; */
        margin-right: .75vw;
        margin-left: .75vw;
        border-radius: 2vw;
        background-color: rgb(121 219 255);
        box-shadow: 0.1vw 0.1vw 1vw 0.1vw #001953eb;
        margin-bottom: 2vw;
    }
    h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 6.9vw;
        text-align: center;
        /* place-content: center; */
        color: #122e7a;
        /* text-decoration: underline; */
        /* text-decoration-thickness: 0.4vw; */
        text-shadow: 0px 0px 7px #7e9ce6c2;
    }
    .col-1 {
        /* background: #ff9445; */
        background: url(static/svg/shapes-03.svg);
        /* Full height */
        /* height: 100%; */
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        /* background-size: cover; */
        width: 10vw;
        background-position-y: 0.5vw;
        filter: drop-shadow(0px 4px 10px blue);
    }
    .col-2 {
        background: url(static/svg/shapes-03.svg);
        /* Full height */
        /* height: 100%; */
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
        width: 80vw;
        background-position-y: 0.5vw;
        filter: drop-shadow(0px 4px 10px blue);
    }
    .col-3 {
        background: url(static/svg/shapes-03.svg);
        /* Full height */
        /* height: 100%; */
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        /* background: #ff9445; */
        width: 10vw;
        background-position-y: 0.5vw;
        filter: drop-shadow(0px 4px 10px blue);
    }
    .details {
        height: 100%;
        max-height: fit-content;
        overflow-y: auto;
        background-color: #b2e7ff;
        /* padding: 3vw; */
        /* padding-bottom: 1vw; */
        /* border-radius: 0.75vw; */
        /* margin-left: 1vw; */
        /* margin-top: 2vh; */
        /* margin-bottom: 2vh; */
        box-shadow: 0vw 1vw 4vw 1vw #4e00ff38;
        font-family: pt-serif-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
        /* border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-right-radius: 2vw;
border-bottom-left-radius: 2VW; */
    }
    #igm-vis-demo {
        height: 39vw;
    }
}